<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Accelerometer</key>
	<dict>
		<key>class</key>
		<string>PGAccelerometer</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Ad</key>
	<dict>
		<key>class</key>
		<string>DCUniAdFeature</string>
		<key>global</key>
		<true/>
	</dict>
	<key>Audio</key>
	<dict>
		<key>class</key>
		<string>PGAudio</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Bluetooth</key>
	<dict>
		<key>class</key>
		<string>libBlueTooth</string>
	</dict>
	<key>Cache</key>
	<dict>
		<key>class</key>
		<string>PGCache</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Camera</key>
	<dict>
		<key>class</key>
		<string>PGCamera</string>
		<key>global</key>
		<true/>
	</dict>
	<key>Console</key>
	<dict>
		<key>class</key>
		<string>PGLog</string>
		<key>global</key>
		<true/>
	</dict>
	<key>Contacts</key>
	<dict>
		<key>class</key>
		<string>PGContacts</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Device</key>
	<dict>
		<key>class</key>
		<string>PGDeviceStatus</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Downloader</key>
	<dict>
		<key>class</key>
		<string>PGDownload</string>
		<key>global</key>
		<true/>
	</dict>
	<key>File</key>
	<dict>
		<key>class</key>
		<string>PGFile</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Gallery</key>
	<dict>
		<key>class</key>
		<string>PGGallery</string>
		<key>global</key>
		<true/>
	</dict>
	<key>Geolocation</key>
	<dict>
		<key>class</key>
		<string>PGGeolocation</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Invocation</key>
	<dict>
		<key>class</key>
		<string>PGInvocation</string>
		<key>global</key>
		<false/>
	</dict>
	<key>LivePusher</key>
	<dict>
		<key>class</key>
		<string>PGLivePush</string>
		<key>global</key>
		<true/>
	</dict>
	<key>Maps</key>
	<dict>
		<key>class</key>
		<string>PGMap</string>
		<key>global</key>
		<true/>
		<key>server</key>
		<dict>
			<key>class</key>
			<string>PGBaiduKeyVerify</string>
			<key>identifier</key>
			<string>com.baidu.keyverify</string>
		</dict>
	</dict>
	<key>Media</key>
	<dict>
		<key>class</key>
		<string>PGMediaVideo</string>
		<key>global</key>
		<true/>
	</dict>
	<key>Messaging</key>
	<dict>
		<key>class</key>
		<string>PGMessaging</string>
		<key>global</key>
		<true/>
	</dict>
	<key>NativeObj</key>
	<dict>
		<key>autostart</key>
		<false/>
		<key>class</key>
		<string>PGNativeObj</string>
		<key>global</key>
		<true/>
	</dict>
	<key>NativeUI</key>
	<dict>
		<key>class</key>
		<string>PGNativeUI</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Navigator</key>
	<dict>
		<key>class</key>
		<string>PGNavigator</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Notification</key>
	<dict>
		<key>autostart</key>
		<true/>
		<key>class</key>
		<string>PGNotification</string>
		<key>global</key>
		<true/>
	</dict>
	<key>OAuth</key>
	<dict>
		<key>class</key>
		<string>PGOauthManager</string>
		<key>extend</key>
		<dict>
			<key>apple</key>
			<string>PGAppleOauth</string>
			<key>facebook</key>
			<string>PGFBOauth</string>
			<key>google</key>
			<string>PGGoogleOauth</string>
			<key>qihoo</key>
			<string>PGQHOauth</string>
			<key>qq</key>
			<string>PGQQOauth</string>
			<key>univerify</key>
			<string>PGUniVerify</string>
			<key>weibo</key>
			<string>PGSinaWBOauth</string>
			<key>weixin</key>
			<string>PGWXOauth</string>
			<key>xiaomi</key>
			<string>PGMiOauth</string>
		</dict>
		<key>global</key>
		<true/>
	</dict>
	<key>Orientation</key>
	<dict>
		<key>class</key>
		<string>PGOrientation</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Payment</key>
	<dict>
		<key>class</key>
		<string>PGPlatbyManager</string>
		<key>extend</key>
		<dict/>
		<key>global</key>
		<true/>
	</dict>
	<key>Proximity</key>
	<dict>
		<key>class</key>
		<string>PGProximity</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Push</key>
	<dict>
		<key>autostart</key>
		<true/>
		<key>baseclass</key>
		<string>PGPush</string>
		<key>global</key>
		<true/>
		<key>server</key>
		<dict>
			<key>class</key>
			<string>PGPushServer</string>
			<key>identifier</key>
			<string>com.pushserver</string>
		</dict>
	</dict>
	<key>Record</key>
	<dict>
		<key>class</key>
		<string>PGRecord</string>
		<key>global</key>
		<true/>
	</dict>
	<key>Runtime</key>
	<dict>
		<key>class</key>
		<string>PGRuntime</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Share</key>
	<dict>
		<key>argument</key>
		<string>weixin</string>
		<key>autostart</key>
		<true/>
		<key>class</key>
		<string>PGShareManager</string>
		<key>extend</key>
		<dict>
			<key>qq</key>
			<string>PGTencentQQShare</string>
			<key>sinaweibo</key>
			<string>PGSinaShare</string>
			<key>tencentweibo</key>
			<string>PGQQShare</string>
			<key>weixin</key>
			<string>PGWXShare</string>
		</dict>
		<key>global</key>
		<true/>
	</dict>
	<key>ShortVideo</key>
	<dict>
		<key>class</key>
		<string>PluginShortVideo</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Speech</key>
	<dict>
		<key>class</key>
		<string>PGSpeech</string>
		<key>extend</key>
		<dict>
			<key>baidu</key>
			<string>PGBaiduSpeech</string>
			<key>ifly</key>
			<string>PGIFLYSpeech</string>
		</dict>
		<key>global</key>
		<true/>
	</dict>
	<key>Sqlite</key>
	<dict>
		<key>class</key>
		<string>libSqlite</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Statistic</key>
	<dict>
		<key>autostart</key>
		<false/>
		<key>class</key>
		<string>PGStatistic</string>
		<key>global</key>
		<true/>
		<key>server</key>
		<dict>
			<key>class</key>
			<string>PGUmengStartUp</string>
			<key>identifier</key>
			<string>com.umeng.startup</string>
		</dict>
	</dict>
	<key>Storage</key>
	<dict>
		<key>autostart</key>
		<true/>
		<key>class</key>
		<string>PGNStorage</string>
		<key>global</key>
		<true/>
	</dict>
	<key>Stream</key>
	<dict>
		<key>class</key>
		<string>PGStream</string>
		<key>global</key>
		<false/>
	</dict>
	<key>UI</key>
	<dict>
		<key>class</key>
		<string>PGUI</string>
		<key>extend</key>
		<dict>
			<key>Navigator</key>
			<string>PG_Navigate</string>
			<key>WebNavigator</key>
			<string>PGWebNavi</string>
		</dict>
		<key>global</key>
		<false/>
	</dict>
	<key>Uploader</key>
	<dict>
		<key>class</key>
		<string>PGUpload</string>
		<key>global</key>
		<true/>
	</dict>
	<key>VideoPlayer</key>
	<dict>
		<key>class</key>
		<string>PGVideo</string>
		<key>global</key>
		<true/>
	</dict>
	<key>XMLHttpRequest</key>
	<dict>
		<key>class</key>
		<string>PGXHR</string>
		<key>global</key>
		<false/>
	</dict>
	<key>Zip</key>
	<dict>
		<key>class</key>
		<string>PGZip</string>
		<key>global</key>
		<false/>
	</dict>
	<key>barcode</key>
	<dict>
		<key>class</key>
		<string>PGBarcode</string>
		<key>global</key>
		<true/>
	</dict>
	<key>fingerprint</key>
	<dict>
		<key>class</key>
		<string>Fingerprint</string>
		<key>global</key>
		<true/>
	</dict>
	<key>iBeacon</key>
	<dict>
		<key>class</key>
		<string>PGBeacon</string>
		<key>global</key>
		<false/>
	</dict>
</dict>
</plist>
